<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <title>{{title}}</title>
    <meta content="{{meta_description}}" name="description">
    <meta content="{{meta_keywords}}" name="keywords">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="https://pr.ezwire.com/pr-css/normalize.min.css" rel="stylesheet" />
    <link href="https://pr.ezwire.com/pr-css/main.css" rel="stylesheet" />
    <script src="https://pr.ezwire.com/pr-js/modernizr.min.js"></script>
    </meta>
    </meta>
</head>

<body class="mouser">
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="header-container">
        <header class="wrapper clearfix">
            <h1 class="title"><a href="http://www.ezwire.com" target="_blank">TechWire International</a></h1>
        </header>
    </div>
    <div class="main-container">
        <div class="main wrapper clearfix">
            <div class="mouser" id="logo-links">
                <div id="client-logo">
                    <a class="left" href="http://www.mouser.com/" target="_blank">
                        <img alt="Mouser" src="https://pr.ezwire.com/cust/Mouser/MouserLogo12-2020.png" />
                    </a>
                </div>
                <div id="links"><b>For Editorial Use:</b><br />
                    <a href="{{png_url}}" style="text-decoration:none" target="_blank">Image</a> |
                    <a href="{{pdf_url}}" style="text-decoration:none" target="_blank">English</a>
                </div>
            </div>
            <article>
                <header>
                    <header>
                        <h1 style="text-align: left;"><span style="color: #0070BB">For Immediate Release</span></h1>
                    </header>
                    <h1 style="text-align: center;">{{headline}}</h1>
                    <p style="text-align: center;"><em>{{subheadline}}</em></p>
                </header>
                <section>
                    <a href="{{product_link}}" target="_blank">
                        <img align="right" alt="{{image_alt}}" height="{{image_height}}"
                            src="{{jpg_url}}"
                            style="margin: 10px 0 10px 15px;" width="{{image_width}}" />
                    </a>
{{body_paragraphs}}
{{about_sections}}
                    <h2><u>Trademarks</u></h2>
                    <p>Mouser and Mouser Electronics are registered trademarks of Mouser Electronics, Inc. All other
                        products, logos, and company names mentioned herein may be trademarks of their respective
                        owners.</p>
                    <footer>
                        <div class="footer-left">
                            <p>
                                Further information, contact:<br />
                                {{contact_marketing_name}}, {{contact_marketing_company}}<br />
                                {{contact_marketing_title}}<br />
                                {{contact_marketing_phone}}<br />
                                <a href="mailto:{{contact_marketing_email}}" target="_blank">{{contact_marketing_email}}</a>
                            </p>
                        </div>
                        <div class="footer-right">
                            <p>
                                For press inquiries, contact:<br />
                                {{contact_press_name}}, {{contact_press_company}}<br />
                                {{contact_press_title}}<br />
                                {{contact_press_phone}}<br />
                                <a href="mailto:{{contact_press_email}}" target="_blank">{{contact_press_email}}</a>
                            </p>
                        </div>
                    </footer>
                </section>
            </article>
        </div> <!-- #main -->
    </div> <!-- #main-container -->
    <div class="footer-container">
        <footer class="wrapper">
            <div class="footer-left">
                <p>This message was distributed by:<br><br>

                    TechWire International Incorporated<br>
                    Media Relations for the Electronics Industry<br>
                    Press Releases - Translation - Custom Content - Contributed Editorial - Media Events<br>
                    Telephone: 631-678-1015 - Email <a
                        href="mailto:information@ezwire.com">information@ezwire.com</a><br>
                    <a href="http://www.ezwire.com" target="_blank">www.ezwire.com</a></br></br></br></br></br></br>
                </p>
            </div>
        </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
            (function (b, o, i, l, e, r) {
                b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                    function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
                e = o.createElement(i); r = o.getElementsByTagName(i)[0];
                e.src = '//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X'); ga('send', 'pageview');
    </script>
</body>

</html>
